{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
  <div class="index-container">
    <h1 class="all-characters-title">Main Menu</h1>
    <ul class="index-list main-menu-list">
      <li><a class="index-link" href="{{ path('app_character_index') }}">Characters</a></li>
      <li><a class="index-link" href="#">Weapons (soon)</a></li>
      <li><a class="index-link" href="{{ path('app_monster_index') }}">Monsters</a></li>
      <li><a class="index-link" href="#">Locations (soon)</a></li>
    </ul>
  </div>
  {# <button class="menu-btn" disabled>Main Menu</button> #}
{% endblock %} 