{% extends 'base.html.twig' %}

{% block title %}Main Menu{% endblock %}

{% block body %}
    <div class="main-menu-container">
        <ul class="main-menu-list">
            <li><a class="menu-link" href="{{ path('app_character_index') }}">Characters</a></li>
            <li><a class="menu-link" href="{{ path('app_monster_index') }}">Monsters</a></li>
            <li><a class="menu-link" href="#" style="color: #6c757d; cursor: not-allowed;">Weapons (soon)</a></li>
            <li><a class="menu-link" href="#" style="color: #6c757d; cursor: not-allowed;">Locations (soon)</a></li>
        </ul>
    </div>
{% endblock %} 