{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
  <div class="index-container">
    <h1 class="all-characters-title">All characters</h1>

    <ul class="main-menu-list">
      <li><a href="{{ path('app_character_new') }}" class="menu-link" style="font-size: 2.2rem;">Create New Character</a></li>
      <li><a href="{{ path('app_character_index') }}" class="menu-link" style="font-size: 2.2rem;">View All Characters</a></li>
      <li><a href="{{ path('app_monster_index') }}" class="menu-link" style="font-size: 2.2rem;">Monsters</a></li>
    </ul>
  </div>
  {# <button class="menu-btn" disabled>Main Menu</button> #}
{% endblock %} 