{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Добро пожаловать в Бестиарий!</h1>
                <p class="col-md-8 fs-4">Это ваш главный центр для просмотра всех существ. Используйте навигацию выше, чтобы переключаться между списками Персонажей и Монстров.</p>
            </div>
        </div>
    </div>
{% endblock %} 