{% extends 'base.html.twig' %}

{% block title %}All Weapons{% endblock %}

{% block body %}
    <div class="index-container">
        <h1 class="all-characters-title">All Weapons</h1>

        <ul class="index-list">
            {% for weapon in weapons %}
                <li>
                    <a href="{{ path('app_weapon_show', {'id': weapon.id}) }}" class="menu-link" style="font-size: 2.2rem;">{{ weapon.name }}</a>
                </li>
            {% else %}
                <li>No weapons found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
