{% extends 'base.html.twig' %}

{% block title %}New Weapon{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="page-title">Create New Weapon</h1>

        {{ form_start(form) }}
            {{ include('weapon/_form.html.twig', {'button_label': 'Create'}) }}
            <div style="display: flex; gap: 1.5rem; margin-top: 2rem;">
                <a href="{{ path('app_weapon_index') }}" class="menu-link">Back to list</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
