{% extends 'base.html.twig' %}

{% block title %}Новое оружие{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="page-title">Создать новое оружие</h1>

    {{ include('weapon/_form.html.twig') }}

        <a class="back-link" href="{{ path('app_weapon_index') }}">Вернуться к списку</a>
    </div>
{% endblock %}
