{% extends 'base.html.twig' %}

{% block title %}All Monsters{% endblock %}

{% block body %}
    <div class="index-container">
        <h1 class="all-characters-title">All Monsters</h1>

        <ul class="index-list">
            {% for monster in monsters %}
                <li>
                    <a href="{{ path('app_monster_show', {'id': monster.id}) }}" class="menu-link" style="font-size: 2.2rem;">{{ monster.name }}</a>
                </li>
            {% else %}
                <li>No monsters found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
