{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
    <h1 class="all-characters-title" style="margin-top: 20px;">All Locations</h1>
    <div class="index-list">
        {% for location in locations %}
            <div class="index-list-item">
                <a href="{{ path('app_location_show', {id: location.id}) }}">
                    <img src="{{ asset(location.image) }}" alt="{{ location.name }}" style="max-width: 120px; max-height: 120px; object-fit: cover; border-radius: 8px;">
                    <div style="font-size: 1.2em; margin-top: 0.5em;">{{ location.name }}</div>
                </a>
            </div>
        {% else %}
            <div>No locations found.</div>
        {% endfor %}
    </div>
{% endblock %} 